*{margin: 0px}
p{
    font-size: 8px;
}
body{
    background-color: #f0f4f8;
    align-items: center;
    
}
h1{
    font-size: clamp(20px, 5vw, 70px); /* clamp() recibe 3 valores: tamaño mínimo, tamaño fluido y tamaño máximo.
   El tamaño fluido usa "vw" (viewport width) que representa el % del ancho de pantalla.
   Esto hace que el texto se agrande o achique automáticamente según el tamaño de la pantalla,
   sin salirse de los límites definidos por el mínimo y el máximo. 
   Me estresaba que para el celu el tamaño de la letra se viera gigante etnonces obviamente le pedi a la IA pero ya lo aprendi y esta justificado jajaajj
   */
    padding: 0px 60px;
    background-color: #ffffff;
    border-radius: 200px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    padding-bottom: 23px;
}

.row{
    padding-bottom: 30px;
}

.btn-primary{
    background-color: #4a90d9;
    border-color: #3a7abf;
}

.btn-primary:hover {
    background-color:  #3a7abf;
    border-color: #2f6aa8;
}

.btn{
    border-radius: 50px;
}

.btn-success:hover {
    background-color: #2f855a;
    border-color: #276749;
}


.btn-success {
    background-color: #38a169;
    border-color: #2f855a;
}

.btn-light {
    background-color: #edf2f7;
    border-color: #cbd5e0;
    color: #4a5568;
}
.btn-light:hover {
    background-color: #e2e8f0;
}

.alert-success {
    height: 30px;
    margin-bottom: 0%;
    background-color: #c6f6d5;
    border-color: #9ae6b4;
    color: #276749;
}
.btn .badge {
    background-color: #ffffff !important;
    color: #4a90d9 !important;
}