
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: italic;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
}

button{
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: rgb(218, 207, 192);
    color: rgb(0, 0, 0);
    width:  100%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
}

button:hover{
    transform: translateY(-2px);
    background-color: rgb(241, 230, 214);
}

main{
    font-family: -apple-system,BlinkMacSystemFont,"SF Pro Display","SF Pro Text","Inter",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 92.8vh;
}

h3{
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
}

body{
    background: linear-gradient(135deg,#ffffff 0%,#faf8f5 50%,#eee8e2 100%);
}

input{
    border: 1px solid rgb(222, 222, 222);
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.logo{
    background-image: url("/programacionFullstack-UTU-2026/4-Junio/Parcial_1/assets/imgs/logo.png");
    background-size: 150px;
    background-repeat: no-repeat;
    height: 30px;
    width: 150px;
}

.container{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: min(450px, 90%);
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(112, 98, 74, 0.15);
}

.login-style{
    display: flex;
    flex-direction: column;
    gap:16px;
}


